@import "tailwindcss";

@font-face {
  font-family: "PyeojinGothic-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PyeojinGothic-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PyeojinGothic-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-PyeojinGothicM: "PyeojinGothic-Regular";
  --font-PyeojinGothicB: "PyeojinGothic-Bold";
  --font-PyeojinGothicL: "PyeojinGothic-Light";
  --font-PretendardM: "Pretendard-Regular";
  --font-PretendardB: "Pretendard-Bold";
  --font-PretendardL: "Pretendard-Light";
  --color-saintrablue: #b1cee3;
  --color-saintralightblue: #eaf0f4;
  --color-saintradarkblue: #b1bee3;
  --color-saintragreen: #93ddc1;
  --color-saintrablack: #6b6b72;
  --color-saintragray: #d9d9d9;
}
.fc-day-today {
  background: #fff !important;
}
